input[type="text"], input[type="email"], input[type="date"], select{
    padding: 13px 10px;
    width: 100%;
    font-size: 14px;
    outline: none;
    background: none;
    border: 0px;
    border-bottom: 1px solid #666;
    border-radius: 0px;
    letter-spacing: 1.6px;
    color: #fff;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

select option{
    background-color: transparent !important;
    border: 1px solid #e4e4e4;
    color: #000;
}

label{
    color: #666;
}

.item-content {
    background-color: #27292a;
    padding: 30px 40px;
    border-radius: 23px;
    margin-bottom: 30px;
}

.btn-form{
    font-size: 14px;
    color: #fff;
    background-color: #7a51f4;
    padding: 12px 30px;
    border-radius: 25px;
    border: 0 none;
    letter-spacing: 0.5px;
}

.box-cont textarea{
    width:100%;
    height:90px;
    resize:none;
    background-color: unset;
    color: #fff;
}
    