*{
    margin: 0;
    padding: 0;
}
.login-title{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35pt;
}
.body-login{
    background-image: url("../img/img1.jpg"); 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.login_txt{
    color: white;
}

.error{
    color: red;
    font-size: medium;
}

.card {
    background-color: rgba(171, 171, 171, 0.2);
    max-width: 35rem;
}



